*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.banner{
    width: 100%;
    height: 100vh
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: royalblue;
    padding: 10px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: 0.5s;
}
.navbar ul li:hover{
    background: black;
}
h1{
    position: absolute;
    top: 20%;
    transform: translate(355%);
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: royalblue;
}
.slider{
    position: absolute;
    top: 35%;
    transform: translate(100%);
    width: 35%;
    overflow: hidden;
}
.images{
    display: flex;
    width: 100%;
}
.images img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid royalblue 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: royalblue}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}
#img6:checked ~ .m6 {
    margin-left: -500%;
}
footer{
    position: absolute;
    top: 105%;
    transform: translate(165%);
    text-align: center;
    color: white;
    background: royalblue;
    padding: 1%;
}
@media(max-width:1060px){
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}